<fa-app id="home" resize>

	<fa-header-footer-layout fa-options="headerFooterLayoutOptions">
	
		<!-- HEADER -->
		<fa-surface>
      		<ng-include src=" 'partials/header.html' "></ng-include>
    	</fa-surface>

		<!-- CONTENT -->
  		<fa-surface fa-touchmove="touchMove($event)" fa-pipe-to="myEventHandler">
  			<fa-app>
	
				<!-- TOOL MENU -->
				<fa-modifier fa-size="[toolMenuWidth, toolMenuHeight]">
					<fa-surface >
						<ng-include src=" 'partials/tools.html' "></ng-include>
		    		</fa-surface>
	    		</fa-modifier>
	
				<!-- CONTENT -->
				<fa-modifier fa-size="[contentWidth, contentHeight]" fa-translate="[toolMenuWidth,0,0]">
		  			<fa-surface>
		  	  			<ng-include src=" 'partials/content.html' "></ng-include>
			  		</fa-surface>
		  		</fa-modifier>
	
				<!-- ACTION MENU -->
				<fa-modifier fa-size="[actionMenuWidth, actionMenuHeight]" fa-translate="[windowWidth - actionMenuWidth,0,0]">
					<fa-surface>
				  		<ng-include src=" 'partials/actions.html' "></ng-include>
			  		</fa-surface>
		  		</fa-modifier>
	  		
	  		</fa-app>
  		</fa-surface>

		<!-- FOOTER -->
		<fa-surface>
			<ng-include src=" 'partials/footer.html' "></ng-include>
	  	</fa-surface>
	  	
  	</fa-header-footer-layout>
  
</fa-app> 