<fa-app id="home" resize>

	<fa-header-footer-layout fa-options="headerFooterLayoutOptions">
	
		<!-- HEADER -->
		<fa-surface>
      		<ng-include src=" 'partials/header.html' "></ng-include>
    	</fa-surface>

		<!-- CONTENT -->
  		<fa-header-footer-layout fa-options="contentLayoutOptions">
	
			<!-- TOOL MENU -->
			<fa-surface fa-touchmove="touchMove($event)" fa-pipe-to="myEventHandler">
				<ng-include src=" 'partials/tools.html' "></ng-include>
    		</fa-surface>

			<!-- CONTENT -->
  			<fa-surface fa-touchmove="touchMove($event)" fa-pipe-to="myEventHandler">
  	  			<ng-include src=" 'partials/content.html' "></ng-include>
	  		</fa-surface>

			<!-- ACTION MENU -->
			<fa-surface>
		  		<ng-include src=" 'partials/actions.html' "></ng-include>
	  		</fa-surface>
	  	
  		</fa-header-footer-layout>

		<!-- FOOTER -->
		<fa-surface>
			<ng-include src=" 'partials/footer.html' "></ng-include>
	  	</fa-surface>
	  	
  	</fa-header-footer-layout>
  
</fa-app> 