<div id="home" resize ng-touchmove="touchMove($event)">

	<!-- HEADER -->
	<ng-include id="header" src=" 'partials/header.html' " style="height:{{headerHeight}}px;"></ng-include>

	<!-- PAGE -->
	<div id="content">
	
		<!-- TOOL MENU -->
		<ng-include id="tools-menu" src=" 'partials/tools.html' " style="width:{{toolsMenuWidth}}px;"></ng-include>
		
		<!-- CONTENT -->
		<ng-include id="draw-table" src=" 'partials/content.html' "></ng-include>
		
		<!-- ACTION MENU -->
		<ng-include id="actions-menu" src=" 'partials/actions.html' " style="width:{{actionsMenuWidth}}px;"></ng-include>
	
	</div>

	<!-- FOOTER -->
	<ng-include id="footer" src=" 'partials/footer.html' " style="height:{{footerHeight}}px;"></ng-include>
  
</div> 